.header{
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
 
  
  
}
.right-section{
  display: flex;
  justify-content: space-around;
  width: 190px;
  flex-shrink: 0;
  

}
.hamburger-menu{
  height: 22px;
}
.youtube-logo{
  height: 22px;
}
.youtube-logo-container{
  position: relative;
}
.country-symbol{
  color: grey;
  font-size:12px;
  font-weight: 200;
  position: absolute;
  right: -20px;
  top: -10px;
  font-family: Roboto,Arial, Helvetica, sans-serif;
}
.middle-section{
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 150px;
  margin-right: 10px;
    


}
.search-bar{
  display: flex;
  flex: 1;
  height: 32px;
  border: 1px solid rgb(201, 194, 194);
  width: 700px;

  
}
.search-bar::placeholder{
  flex: 1;
  font-size: 14px;
  color: grey;
  padding: 15px;

}
.search-icon{
  height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgb(201, 194, 194);
  margin-left: -1px;
  background-color: rgb(248, 244, 244);
}
.voice-search-icon{
  height: 24px;
  padding: 6px;
  background-color: rgb(248, 244, 244);
  border-radius: 18px;
  margin-left: 10px;
  margin-right: 50px;
  position: relative;
}

.tool-tip{
  position: absolute;
  bottom: -15px;
  
  white-space: nowrap; 
  background-color: grey;
  color: white;
  padding-left: 3px;
  border-radius: 4px;

}
.left-section{
  display: flex;
  justify-content: space-around;
  width: 200px; 
  flex-shrink: 0;
 
}
.upload-icon{
  height: 24px;
  
}
.upload-container, .notifications-container,.voice-search-container,.search-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip2{
  background-color: grey;
  color: white;
  white-space: nowrap;
  display: flex;
  position: absolute;
  bottom: -40px;
  padding: 3px;
  border-radius: 3px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}
.upload-container:hover .tooltip2, 
.notifications-container:hover .tooltip2, 
.voice-search-container:hover .tooltip2, 
.search-container:hover .tooltip2{
  opacity: 1;
}
.notifications-icon{
  height: 24px;
}
.youtube-apps{
  height: 24px;
}